<div class="page-header">
  <h1>{{title}}</h1>
  <div class="form-inline">
    <div class="form-group">
      <input #herotext (keyup)="doneTyping($event)" class="form-control" autofocus>
    </div>
    <button (click)="addHero(herotext.value)" class="btn btn-primary">Add Hero</button>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <ul class="heroes">
      <li *ng-for="#hero of heroes" [ng-class]="getSelectedClass(hero)">
        <a (click)="onSelect(hero)"><span class="badge">{{hero.id}}</span> {{hero.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <div *ng-if="selectedHero" class="form-horizontal">
      <h2>{{selectedHero.name}}</h2>
      <div>
        <label>id: </label>
        {{selectedHero.id}}
      </div>
      <div>
        <label>name: </label>
        <input [(ng-model)]="selectedHero.name" placeholder="name" class="form-control"></input>
      </div>
    </div>
  </div>
</div>
