<div class="page-header">
  <div class="pull-right">
    <!-- your code here -->
  </div>
  <h1>{{title}}</h1>
  <div class="form-inline">
    <div class="form-group">
      <input #herotext (keyup)="doneTyping($event)" class="form-control" autofocus>
    </div>
    <button (click)="addHero(herotext.value)" class="btn btn-primary">Add Hero</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item" *ng-for="#hero of heroes" [ng-class]="getSelectedClass(hero)" (click)="onSelect(hero)">
        {{hero.name}}
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <div *ng-if="selectedHero" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <h2>{{selectedHero.name}}</h2>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">ID: </label>
        <div class="col-sm-10">
          <p class="form-control-static">{{selectedHero.id}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Name: </label>
        <div class="col-sm-10">
          <input [(ng-model)]="selectedHero.name" placeholder="name" class="form-control"></input>
        </div>
      </div>
    </div>
  </div>
</div>
